@implements IModalDialog
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1 id="@($"{Model.ChildContentType}Title")" class="h5">@Model.Title</h1>
           @if (!Model.HideCloseButton)
            {
                <button class="btn-close" type="button" aria-label="close" @onclick="CloseAsync"></button>
            }
        </div>
        <div class="modal-body">
            <CascadingValue Value="@this">
                 @ChildContent
            </CascadingValue>
        </div>
    </div>
</div>

@code {

    [Parameter] public IModal ParentModal { get; set; } = default!;
    [Parameter] public ModalModel Model { get; set; } = default!;
    [Parameter] public RenderFragment? ChildContent { get; set; }

    public Task CloseAsync()
    {
        ParentModal.CloseModalDialogAsync(Model.ChildContentType);
        return Task.CompletedTask;
    }

}